/* Grids */
/* line 52, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 44, ../sass/_mixins.scss */
.two-col-basic .pane-page-content > .pane-title {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* Main styles */
/* line 19, ../sass/pages.scss */
.page-basic {
  overflow: hidden;
}
/* line 21, ../sass/pages.scss */
.page-basic .basic {
  width: 100%;
  overflow: hidden;
}
/* line 24, ../sass/pages.scss */
.page-basic .basic > .inside {
  max-width: 1000px;
  margin: auto;
  width: 96%;
  padding: 0 2%;
}
/* line 30, ../sass/pages.scss */
.page-basic .basic.header {
  background: #720c20;
  min-height: 55px;
}
/* line 34, ../sass/pages.scss */
.page-basic .basic.main-menu {
  background: #ECEBE0;
  height: 34px;
  overflow: visible;
}
/* line 39, ../sass/pages.scss */
.page-basic .basic.footer-first {
  background: #dcdac7;
}
/* line 42, ../sass/pages.scss */
.page-basic .basic.footer-seccond {
  background: #878787;
}

/* Header */
/* line 50, ../sass/pages.scss */
.header .pane-page-logo {
  float: left;
  margin-top: 11px;
}
/* line 55, ../sass/pages.scss */
.header .pane-system-user-menu {
  margin-left: 15px;
  padding-top: 13px;
  float: right;
}
/* line 59, ../sass/pages.scss */
.header .pane-system-user-menu li {
  float: left;
}
/* line 61, ../sass/pages.scss */
.header .pane-system-user-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  margin-left: 5px;
  display: block;
}
/* line 71, ../sass/pages.scss */
.header .pane-search-form {
  float: right;
}

/* line 76, ../sass/pages.scss */
.pane-search-form {
  padding-top: 7px;
}
/* line 79, ../sass/pages.scss */
.pane-search-form .form-item,
.pane-search-form .form-actions {
  border: 1px solid #945c65;
  border-top-color: #772330;
  border-bottom-color: #772330;
  margin: 0;
  float: left;
  padding: 0;
  height: 21px;
  line-height: 21px;
  background: #fff;
}
/* line 90, ../sass/pages.scss */
.pane-search-form .form-item {
  padding: 0 9px;
}
/* line 93, ../sass/pages.scss */
.pane-search-form .form-actions {
  margin-left: 6px;
}
/* line 96, ../sass/pages.scss */
.pane-search-form input {
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  height: 21px;
  outline: none;
  font-size: 12px;
  color: #989899;
}
/* line 105, ../sass/pages.scss */
.pane-search-form input.form-submit {
  width: 30px;
  overflow: hidden;
  text-align: center;
  color: #881728;
  font-size: 11px;
  text-transform: uppercase;
}

/* line 116, ../sass/pages.scss */
.header-menu ul {
  float: right;
  padding-top: 12px;
}
/* line 119, ../sass/pages.scss */
.header-menu ul li {
  float: left;
  font-size: 11px;
}
/* line 122, ../sass/pages.scss */
.header-menu ul li a {
  color: #757575;
  padding: 0 13px;
  border-left: 1px solid #757575;
  display: block;
}
/* line 128, ../sass/pages.scss */
.header-menu ul li.first a {
  border-left: none;
  padding-left: 0;
}
/* line 133, ../sass/pages.scss */
.header-menu ul li.last a {
  padding-right: 0;
}

/* line 139, ../sass/pages.scss */
.site-title {
  padding: 25px 0 10px;
}
/* line 141, ../sass/pages.scss */
.site-title .panel-pane {
  float: left;
  color: #353535;
}
/* line 145, ../sass/pages.scss */
.site-title .pane-site-name-abbreviation {
  font-size: 50px;
  font-weight: bold;
  margin-right: 50px;
}
/* line 150, ../sass/pages.scss */
.site-title .pane-page-site-name {
  font-size: 32px;
  padding-top: 15px;
}

/* line 156, ../sass/pages.scss */
.main-menu li {
  float: left;
}
/* line 158, ../sass/pages.scss */
.main-menu li a {
  line-height: 32px;
  display: block;
  margin-left: 60px;
  color: #4C4C4C;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 166, ../sass/pages.scss */
.main-menu li.first a {
  margin-left: 12px;
}
/* line 171, ../sass/pages.scss */
.main-menu li a:hover,
.main-menu li .active-trail,
.main-menu li .active {
  border-bottom: 2px solid #881728;
  color: #881728;
}

/* Footer fisrt */
/* line 179, ../sass/pages.scss */
.footer-first {
  padding: 16px 0;
}
/* line 181, ../sass/pages.scss */
.footer-first .pane-page-site-name {
  color: #88655a;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  float: left;
  padding-right: 25px;
  margin-right: 7px;
  border-right: 1px solid #cdc2b4;
}
/* line 191, ../sass/pages.scss */
.footer-first .menu {
  float: left;
}
/* line 193, ../sass/pages.scss */
.footer-first .menu li {
  float: left;
  font-size: 12px;
  line-height: 16px;
}
/* line 197, ../sass/pages.scss */
.footer-first .menu li a {
  color: #88655a;
  margin: 17px;
}
/* line 201, ../sass/pages.scss */
.footer-first .menu li:after {
  content: ":";
}
/* line 204, ../sass/pages.scss */
.footer-first .menu li.last:after {
  content: "";
}

/* Socials */
/* line 213, ../sass/pages.scss */
.pane-bundle-social-media {
  float: right;
}
/* line 215, ../sass/pages.scss */
.pane-bundle-social-media .field {
  overflow: hidden;
  float: left;
  margin-left: 18px;
}
/* line 219, ../sass/pages.scss */
.pane-bundle-social-media .field a {
  display: block;
  width: 33px;
  height: 1px;
  padding: 32px 0 0 0;
  background: url("../images/socials-desktop.png") no-repeat;
}
/* line 227, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-twitter-page a {
  background-position: -49px 0;
}
/* line 228, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-youtube-page a {
  background-position: -196px 0;
}
/* line 229, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-google-page a {
  background-position: -147px 0;
}
/* line 230, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-flickr-page a {
  background-position: -98px 0;
}

/* Footer seccond */
/* line 235, ../sass/pages.scss */
.footer-seccond {
  padding: 10px 0;
  color: #fff;
  font-size: 10px;
  line-height: normal;
}
/* line 240, ../sass/pages.scss */
.footer-seccond a {
  color: #fff;
}
/* line 242, ../sass/pages.scss */
.footer-seccond a:hover {
  text-decoration: underline;
}
/* line 246, ../sass/pages.scss */
.footer-seccond .panels-flexible-row-first {
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px;
  width: 75%;
  max-width: 570px;
}
/* line 253, ../sass/pages.scss */
.footer-seccond .menu {
  padding: 6px 0 0;
  overflow: hidden;
  width: 75%;
  max-width: 570px;
}
/* line 258, ../sass/pages.scss */
.footer-seccond .menu li {
  float: left;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 264, ../sass/pages.scss */
.footer-seccond .menu li a {
  color: #fff;
  text-decoration: none;
  padding-left: 9px;
  background: url("../images/footer-menu-arrow.png") no-repeat left center;
  font-size: 9px;
}

/* line 278, ../sass/pages.scss */
.right-brown-block {
  background: #f0efe6;
  width: 88%;
  padding: 10px 6% 20px;
  margin-bottom: 35px;
}
/* line 283, ../sass/pages.scss */
.right-brown-block .pane-title {
  color: #3b3b3b;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
  padding-bottom: 7px;
}
/* line 291, ../sass/pages.scss */
.right-brown-block ul {
  margin: 0;
  padding: 14px 0 0;
  overflow: hidden;
}
/* line 295, ../sass/pages.scss */
.right-brown-block ul li {
  margin: 0;
}

/*
.horizontal-list li {
  margin: 0 0 7px 0;
  float: left;
  line-height:  24px;
  padding: 0 6px;
  background: #f5f5f5;
  margin-right:  15px;
}
*/
