/* Grids */
/* line 52, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 44, ../sass/_mixins.scss */
.two-col-basic .pane-page-content > .pane-title {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* Main styles */
/* line 19, ../sass/pages.scss */
.page-basic {
  overflow: hidden;
}
/* line 21, ../sass/pages.scss */
.page-basic .basic {
  width: 100%;
  overflow: hidden;
}
/* line 24, ../sass/pages.scss */
.page-basic .basic > .inside {
  width: 1000px;
  margin: auto;
}
/* line 28, ../sass/pages.scss */
.page-basic .basic.header {
  background: #720c20;
  min-height: 55px;
}
/* line 32, ../sass/pages.scss */
.page-basic .basic.footer-first {
  background: #dcdac7;
}
/* line 35, ../sass/pages.scss */
.page-basic .basic.footer-seccond {
  background: #878787;
}

/* Header */
/* line 43, ../sass/pages.scss */
.header .pane-page-logo {
  float: left;
  margin-top: 11px;
}
/* line 48, ../sass/pages.scss */
.header .pane-system-user-menu {
  margin-left: 20px;
  float: right;
}
/* line 51, ../sass/pages.scss */
.header .pane-system-user-menu li {
  float: left;
}
/* line 53, ../sass/pages.scss */
.header .pane-system-user-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
}
/* line 61, ../sass/pages.scss */
.header .pane-search-form {
  float: right;
}

/* line 66, ../sass/pages.scss */
.header-menu ul {
  float: right;
  padding-top: 12px;
}
/* line 69, ../sass/pages.scss */
.header-menu ul li {
  float: left;
  font-size: 11px;
}
/* line 72, ../sass/pages.scss */
.header-menu ul li a {
  color: #757575;
}
