/* Grids */
/* line 52, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 44, ../sass/_mixins.scss */
.two-col-basic .pane-page-content > .pane-title {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* Main styles */
/* line 19, ../sass/pages.scss */
.page-basic {
  overflow: hidden;
}
/* line 21, ../sass/pages.scss */
.page-basic .basic {
  width: 100%;
  overflow: hidden;
}
/* line 24, ../sass/pages.scss */
.page-basic .basic > .inside {
  width: 1000px;
  margin: auto;
}
/* line 28, ../sass/pages.scss */
.page-basic .basic.header {
  background: #720c20;
  min-height: 55px;
}
/* line 32, ../sass/pages.scss */
.page-basic .basic.main-menu {
  background: #ECEBE0;
  height: 34px;
  overflow: visible;
}
/* line 37, ../sass/pages.scss */
.page-basic .basic.footer-first {
  background: #dcdac7;
}
/* line 40, ../sass/pages.scss */
.page-basic .basic.footer-seccond {
  background: #878787;
}

/* Header */
/* line 48, ../sass/pages.scss */
.header .pane-page-logo {
  float: left;
  margin-top: 11px;
}
/* line 53, ../sass/pages.scss */
.header .pane-system-user-menu {
  margin-left: 15px;
  padding-top: 10px;
  float: right;
}
/* line 57, ../sass/pages.scss */
.header .pane-system-user-menu li {
  float: left;
}
/* line 59, ../sass/pages.scss */
.header .pane-system-user-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  margin-left: 5px;
  display: block;
}
/* line 69, ../sass/pages.scss */
.header .pane-search-form {
  float: right;
}

/* line 74, ../sass/pages.scss */
.header-menu ul {
  float: right;
  padding-top: 12px;
}
/* line 77, ../sass/pages.scss */
.header-menu ul li {
  float: left;
  font-size: 11px;
}
/* line 80, ../sass/pages.scss */
.header-menu ul li a {
  color: #757575;
  padding: 0 13px;
  border-left: 1px solid #757575;
  display: block;
}
/* line 86, ../sass/pages.scss */
.header-menu ul li.first a {
  border-left: none;
  padding-left: 0;
}
/* line 91, ../sass/pages.scss */
.header-menu ul li.last a {
  padding-right: 0;
}

/* line 97, ../sass/pages.scss */
.site-title {
  padding: 25px 0 10px;
}
/* line 99, ../sass/pages.scss */
.site-title .panel-pane {
  float: left;
  color: #353535;
}
/* line 103, ../sass/pages.scss */
.site-title .pane-site-name-abbreviation {
  font-size: 50px;
  font-weight: bold;
  margin-right: 50px;
}
/* line 108, ../sass/pages.scss */
.site-title .pane-page-site-name {
  font-size: 32px;
  padding-top: 15px;
}

/* line 114, ../sass/pages.scss */
.main-menu li {
  float: left;
}
/* line 116, ../sass/pages.scss */
.main-menu li a {
  line-height: 32px;
  display: block;
  margin-left: 60px;
  color: #4C4C4C;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 124, ../sass/pages.scss */
.main-menu li.first a {
  margin-left: 12px;
}
/* line 129, ../sass/pages.scss */
.main-menu li a:hover,
.main-menu li .active-trail,
.main-menu li .active {
  border-bottom: 2px solid #881728;
  color: #881728;
}

/* Footer */
/* line 137, ../sass/pages.scss */
.pane-bundle-social-media {
  float: right;
}
/* line 139, ../sass/pages.scss */
.pane-bundle-social-media .field {
  overflow: hidden;
  float: left;
  margin-left: 18px;
}
/* line 143, ../sass/pages.scss */
.pane-bundle-social-media .field a {
  display: block;
  width: 33px;
  height: 1px;
  padding: 32px 0 0 0;
  background: url("../images/socials-desktop.png") no-repeat;
}
/* line 151, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-twitter-page a {
  background-position: -49px 0;
}
/* line 152, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-youtube-page a {
  background-position: -196px 0;
}
/* line 153, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-google-page a {
  background-position: -147px 0;
}
/* line 154, ../sass/pages.scss */
.pane-bundle-social-media .field-name-field-slac-sm-flickr-page a {
  background-position: -98px 0;
}
