# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
robots.txt
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

logs/*

FirePHPCore
*.sass-cache
.idea
