.box-about > div:before {
  content: " ";
  display: table;
}
.box-about > div:after {
  clear: both;
  content: " ";
  display: table;
}

.box-about .subtitle {
font-size: 15px;
font-size: 0.9375rem;
font-style: italic;
margin-bottom: 10px;
}
}
.box-about article {
  font-size: 13px;
  font-size: 0.8125rem; }
.box-about > div.shaded {
  background-color: whitesmoke;
  padding: 20px; }
.box-about > div > ul {
  background-color: #dfdfdf;
  width: 147px;
  padding: 14px;
  font-size: 12px;
  font-size: 0.75rem;
  float: right;
  margin: 0 0 15px 20px; }
  .box-about > div > ul li {
    margin-left: 10px;
    margin-bottom: 3px !important; }
    .box-about > div > ul li a {
      color: #871628; }
.box-about figure {
  border: 2px solid white;
  width: auto;
  margin: 0; }
  .box-about figure img {
    display: block;
max-width: 100%;
height: auto;    
     }
  .box-about figure.large-image {
    max-width: 70%;
    margin-bottom: 10px; 
    margin-left: 10px; 
    width: auto;
    float: right;
    border: 0 none}
  .box-about figure.positition-right {
    float: right;
    margin: 0 0 20px 27px; }
  .box-about figure.positition-left {
    float: left;
    margin: 0 27px 20px 0; }

.link-reference {
  clear: right;
  margin-top: 20px; }
  .link-reference a {
    color: #871628; }