//Contact information
//-----------------------------------
.contact-information
  .views-label
    font-size: em(10px)
    font-weight: bold
    color: $grey-2
    text-transform: uppercase
    
  .field-content
    +fontsize-rem(14px)
    color: inherit

  .views-field
    margin-bottom: 11px


//Blog Tags
//----------------------------------- 
.blog-tags
  ul
    @extend .clearfix
    li
      float: left
      margin-right: 23px
      margin-bottom: 7px
      a
        display: block
        padding: 2px 8px 4px
        +border-radius(3px)
        background-color: $grey-f1
        //font-size: em(14px)
        color: $text-color-1
        &:hover
          background-color: $red
          color: #fff
          
  .region-grey-background-style &
    ul li a
      background-color: #fff


//Blog Archive
//-----------------------------------    
.connect-with-me
  @extend .clearfix
  .twitter-link,
  .facebook,
  .linked-in,
  .flikr,
  .goolge-plus
    float: left
    margin-right: 10px
    a
      text-indent: -9000px
      display: block
      &:after
        @extend .slac-font


  .twitter-link
    a:after
      content: '\e610'
  .facebook
    a:after
      content: '\e604'  
  .linked-in
    a:after
      content: '\e602'  
  .flikr
    a:after
      content: '\e610'  
  .goolge-plus
    a:after
      content: '\e610'  

//Blog Archive
//-----------------------------------    
ul.blog-archive-class
  padding-left: 5px

  > li
    a
      margin-bottom: 9px
      display: block
    ul
      padding-left: 19px
      list-style-type: disc
      list-style-position: inside
      li
        margin-bottom: 9px
        a
          

connect-with-me
