form
  &#user-profile-form
    background-color: $form-bg
    border: 3px solid $form-bdr
    padding: 26px 38px
    
    input[type='text'], input[type='password']
      width: 325px
      
    .confirm-parent, .password-parent
      width: 100%
      
    
  label
    color: #474747
    +fontsize-rem(14px)
    margin: 0 0 4px 0 
    display: block
      
      
input[type='submit']
  border: 1px solid #cecece
  background-color: #e4e4e4
  +border-radius(5px)
  color: $red
  +fontsize-rem(12px)
  font-weight: bold
  padding: 9px 28px 7px
  
input[type='text'], input[type='password']
  margin: 0
  border: 1px solid #c3c3c3
  border-bottom-color: $grey-d
  +box-shadow(0px -2px 0px 0px #7c7c7c )
  padding: 6px 6px 3px 6px
  
  

  
  