
a
  color: #222
  text-decoration: none
  &:hover
    color: $red

h2
  font-size: em(28px)
  font-weight: bold



html
  font-family: Arial, Helvetica, sans-serif
  line-height: 1.25
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased    
  color: $grey-2
  background-color: #fff   

.page-basic
  > .content, 
  > .header, 
  > .header-menu, 
  > .main-menu, 
  > .site-title,
  > .footer-first,
  > .footer-seccond
    > .inside 
      +container    
      +box-sizing(content-box)
    /*+susy-grid-background
      +at-breakpoint($tablet)
        +susy-grid-background
      +at-breakpoint($small-desktop)
        +susy-grid-background    
      +at-breakpoint($large-desktop)
        +susy-grid-background  */  

  > .header
    background-color: $red
    padding: 10px 0 7px
  
  > .content
    margin: 15px 0

    input[type='text'], input[type='password'], textarea
      width: 100%

    .general-right
      margin-top: 30px
  
  
  > .header-menu, 
  > .main-menu
    display: none
  
  
//System user panel
//-----------------------------------
.pane-pane-messages
  margin-bottom: 10px
  
ul.tabs, .action-links
  font-size: em(12px)
  margin-bottom: 10px
  @extend .clearfix
  li
    float: left
    margin-right: 10px
    margin-bottom: 10px
    a
      background-color: $grey-a
      padding: 6px 12px
      color: #fff
      display: block
      +border-radius(10px)
      &:hover
        background-color: $grey-2e


.mobile-main-menu
  max-height: 0
  //+transition(all 0.5s ease-in)
  margin: 7px -13px -7px -13px
  background: $menu_bg
  padding: 13px
  clear: both
  border-top: 7px solid $red
  &.active
    display: block !important
    max-height: 400px
    //+transition(all 0.5s ease-out)


  .main-menu
    background-color: $menu_bg
    //padding: 8px 0 0px
    //margin-bottom: 35px
    text-transform: uppercase
    ul

      li
        display: block
        margin-bottom: 5px

        a
          display: block
          padding: 5px 13px
          color: #fff
          background-color: $grey-a
          position: relative
          &:after
            content: "\3e"
            @extend .slac-font
            position: absolute
            +fontsize-rem(25px)
            right: 8px
            top: 3px
            line-height: 1
          &.active-trail, &.active
            background-color: $grey-87
            &:after
              content: "\e606"
              
  //Header menu
  //-----------------------------------
  .header-menu
    text-align: center
    font-size: em(13px)
    padding: 10px 0 0 0
    ul
  
      li
        display: inline-block
        margin: 0 6px
        a
          color: $grey-6
          display: block
          text-decoration: none
          &:hover
            color: $red
           
              
              
//User menu
//-----------------------------------
.pane-system-user-menu
  text-align: right
  color: #fff
  ul
    list-style-type: none
    @extend .clearfix
    display: inline-block
    position: relative
    top: -4px
  li
    float: left
    margin-left: 11px
    a
      font-size: em(11px)
      color: inherit
      text-decoration: none
      display: block

.pane-search-form
  display: none

.pane-page-logo
  +span-columns(2,4)
.icon-wrapper
  +span-columns(2 omega,4)
  text-align: right



.pane-system-user-menu
  display: none !important
  +span-columns(2 omega,4)


.mob-icon
  width: 22px
  height: 20px
  position: relative
  cursor: pointer
  display: inline-block
  color: #fff
  +fontsize-rem(25px) 
  margin-left: 15px
  +no-select 
  &:first-of-type
    margin-left: 0
  
  &.active
    color: $rose
  
  &:before
    position: absolute
    @extend .slac-font
    top: 0
    left: 0
    line-height: 1
  
  &.menu-icon 
    &:before 
      content: '\e611'
      +fontsize-rem(25px) 
  &.account-icon
    &:before 
      content: '\e612'
      +fontsize-rem(20px) 
  &.logout-icon
    &:before 
      content: '\e614'
      +fontsize-rem(21px) 
      
      
      
//Site name
//-----------------------------------
.pane-page-site-name
  font-size: em(26px)

  
  .footer-first &
    font-size: em(14px)


//Site logo header
//-----------------------------------
.pane-page-logo
  img
    //width: 158px
    width: 115px


   




.site-title
  margin-bottom: 9px
  margin: 10px 0


//First footer
//-----------------------------------
.footer-first
  background-color: $menu_bg


//Last footer
//-----------------------------------
.footer-seccond
  background-color: $grey-87
  color: #fff
  +fontsize-rem(10px) 
  padding: 16px 0 7px
  
  ul
    text-transform: uppercase
    margin-top: 9px
    margin-bottom: 9px    
    li
      margin-bottom: 5px

      a
        display: block
        position: relative
        padding: 6px 20px 6px 6px
        background-color: $grey-a
        &:after
          content: "\3e"
          @extend .slac-font
          position: absolute
          +fontsize-rem(25px)
          right: 5px
          top: 0px
          line-height: 1
  a
    color: inherit
    
  .pane-1, .pane-2
    display: inline
    p
      display: block
    a
      text-transform: uppercase
      font-weight: bold

  .pane-1
    p
      margin-bottom: 5px


  .general-right
    text-align: center

+at-breakpoint($less-than-800)
  .footer-seccond 
    .pane-1, .pane-2 
      p
        display: inline


//Pagination
//-----------------------------------
.pager
  margin-top: 30px
  @extend .clearfix
  li
    float: left
    //border: 1px solid $grey-6
    //border-right: 0
    font-size: em(17px) 
    
    line-height: 14px
    display: inline-block
    vertical-align: middle
    background-color: $grey-f1
    margin-right: 13px 
    &.pager-last, &.pager-first
      display: none
      

      
      
    &.pager-current
      background-color: $menu_bg 
      padding: 14px 11px 10px
    a
      display: block
      color: $red
      padding: 14px 11px 10px
      &:hover
        background-color: $red
        color: #fff 


//RSS Feed
//-----------------------------------
.feed-icon
  display: none


//LEft site blocks
//-----------------------------------
.general-left
  h2.pane-title
    color: $grey-3
    border-bottom: 3px solid $bg-col-1
    margin-bottom: 30px
    padding-bottom: 5px


    

//Right site blocks
//-----------------------------------
.general-right
  +fontsize-rem(13px) 
  
  color: $text-color-1  
  a
    color: inherit    
    
.panel-pane
  .general-right &
    
    margin-bottom: 35px
    //padding: 13px 22px
    &:last-of-type
      margin-bottom: 0


.region-grey-background-style
  background-color: $bg-col-1

.panel-title,
.pane-title
  .general-right &
    color: $grey-4
    +fontsize-rem(14px)
    text-transform: uppercase
    margin-bottom: 13px
    padding-bottom: 7px
    border-bottom: 3px solid $bg-col-1
    
  .region-grey-background-style &
    border-bottom-color: #fff




.view-blog-page
  .views-row
    margin-bottom: 25px
    &:last-of-type
      margin-bottom: 0    
      
      
article.node-blog

  .submitted
    font-style: italic
    color: $grey-87
    
    a
      color: $rose
      position: relative
      &:after
        position: absolute
        width: 100%
        border-bottom: 1px dashed
        bottom: 0
        left: 0
        display: none
        content: ''
      &:hover:after
        display: inline-block


  &.view-mode-full
    header 
      margin-bottom: 25px
      h2
        +fontsize-rem(20px)

    .submitted
      margin-top: 5px
      font-size: 14px
        
    .blog-wrapper
      +fontsize-rem(14px)

      h2
        +fontsize-rem(16px)
        margin-bottom: 5px
        margin-top: 15px
      h3
        +fontsize-rem(14px)
        font-weight: bold

    .field-name-field-slac-blog-image
      margin-bottom: 10px
      
    .field-type-text-with-summary  
      p
        margin-bottom: 5px
        line-height: 20px
      
      ul, ol
        list-style-type: disc
        padding-left: 20px
        margin-bottom: 10px
        li
          line-height: 20px
          margin-bottom: 5px
        
      
      
  &.node-teaser
    background-color: $grey-f1
    
    +fontsize-rem(14px) 
  
    .separator
      border-bottom: 3px solid #fff
  
    header 
      h2
        font-size: em(20px)
        padding: 0
        a
          color: $red
          display: block
          padding: 13px 35px 9px 13px
          position: relative
          &:after
            content: '\e608'
            @extend .slac-font
            position: absolute
            right: 3px
            top: 50%
            margin-top: -17px
            +fontsize-rem(30px)
            color: $normal-arrow
          &:hover
            background-color: $menu_bg
            &:after
              color: $red
              
          
      .submitted
        padding: 9px 13px 7px
        +fontsize-rem(12px) 
          
    .blog-wrapper
      
      padding: 13px
      +fontsize-rem(14px) 
  
      
      h2
        font-size: inherit
      
    .field-name-field-slac-blog-image
      margin-bottom: 10px
      
      a
        border: 3px solid #fff
        display: block
        +box-shadow(0px 0px 0px 3px #f3f2eb ) 
      img
        display: block
  
  
    .field-type-text-with-summary
      color: $grey-47
      p
        line-height: 21px
        margin-bottom: 5px
  
  
    .links
      padding: 10px 42px
      @extend .clearfix 
      li
        float: left
        margin-right: 10px
        a
          display: block
          
+at-breakpoint($less-than-480)
  article.node-blog
    &.node-teaser
      .field-name-field-slac-blog-image
        float: left
        margin-right: 25px
        width: 215px
      .blog-wrapper            
        +clearfix

+at-breakpoint($large-desktop)
  article.node-blog
    &.node-teaser
      header
        h2
          a
            padding: 13px 40px 9px    
 
        .submitted
          padding: 9px 42px 7px    
                       
      .blog-wrapper
        display: table
        padding: 14px 42px
        +fontsize-rem(14px) 
        > .field
          vertical-align: top
    
        
      .field-name-field-slac-blog-image
        width: 215px
        display: table-cell
        padding-right: 35px
        +box-sizing(content-box)
        vertical-align: top        
        top: 5px
        position: relative
        float: none







//Profile  page
//-----------------------------------


.profile-name
  +fontsize-rem(20px)
  font-weight: bold
.profile-affiliation
  +fontsize-rem(16px)
.profile-name-block
  margin-bottom: 1em

.profile-info-brief
  .profile-name-block
    margin-top: 100px


.profile-info-full
  +fontsize-rem(14px)
  

  .views-label
    +fontsize-rem(16px)
    font-weight: bold
    color: $grey-6
    margin-bottom: 5px
    padding-left: 3px
    display: inline-block

  p
    line-height: 20px

  .views-row-2
    @extend .clearfix
    margin-bottom: 23px

  .profile-textformatter-list
    list-style-type: disc
    padding-left: 17px
    li
      margin-bottom: 17px
      overflow: visible !important

  .profile-maxlist-more
    line-height: inherit
    text-align: right  
    
    a
      $experimental-support-for-svg: true
      +background(linear-gradient(top, #fcfcfc 0%,#ededed 100%))
      +filter-gradient(#fcfcfc, #ededed, vertical)      
      color: $grey-47
      padding: 8px 15px 5px 47px
      
      display: inline-block
      +fontsize-rem(11px)
      position: relative
      
      &:before
        position: absolute
        @extend .slac-font
        left: 14px
        top: 50%      
        margin-top: -10px        
        +fontsize-rem(20px) 
        content: '\e616'   
        
      &.collapsed-list
        &:before
          content: '\e615'    
  

          


    
  
.views-field-field-prf-bio-education, 
.views-field-field-prf-bio-pexp, 
.views-field-field-prf-bio-ar,
.views-field-field-prf-bio-ha,
.views-field-field-prf-bio-pa,
.views-field-field-prf-bio-pub,
.views-field-field-prf-bio-tp
  margin-bottom: 1em
  display: block
  @extend .clearfix
  .field-content
    padding: 25px 25px 8px 25px
    border: 2px solid $menu_bg
    border-top-width: 6px
    +fontsize-rem(13px)

    
.views-field-field-prf-bio-bio
  margin-bottom: 3em


.views-field-field-prf-contact-photo
  border: 8px solid $bg-col-1
  border-left-width: 10px
  border-right-width: 10px
  display: inline-block
  margin-right: 15px
  margin-bottom: 25px
  img
    display: block


//Responsive information
//-----------------------------------
.site-title
  position: relative
  &:after
    //content: 'mobile general'  
    background: #aaa
    padding: 6px
    position: absolute
    +border-radius(5px)
    color: #fff
    +fontsize-rem(12px)
    right: 13px
    top: 55px
  
 