+at-breakpoint($tablet)
  //Responsive information
  //-----------------------------------
  .site-title
    &:after
      content: 'tablet'  


  //Content
  //-----------------------------------
  .general-left, .panel-col-first 
    +span-columns(4,7)
  .general-right, .panel-col-last
    +span-columns(3 omega,7)
  
  .general-right, .general-left
    padding-top: 47px
    .front &
      padding-top: 0



  //Last footer
  //-----------------------------------
  .footer-seccond
    margin-bottom: 60px
    
    ul
      border-bottom: 0
      padding-bottom: 0
      margin-bottom: 0

  .panel-col-last
    text-align: left
    

  .pane-bundle-slideshow-description-bottom
    //+bleed(7 of 7, right)

  //Profile detail page
  //-----------------------------------
  .views-field-field-prf-contact-photo
    width: 170px
