@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

 /* Main styles */

 .page-basic{
 	overflow: hidden;
  .basic{
    width: 100%;
    overflow: hidden;
    > .inside{
      width: 1000px;
      margin: auto;
    }
	  &.header{
	    background: #720c20;
	    min-height: 55px;
	  }
	  &.main-menu{
		  background: #ECEBE0;
		  height: 34px;
		  overflow:visible;
		}
	  &.footer-first{
	    background: #dcdac7;
	  }
	  &.footer-seccond{
	    background: #878787;
	  }
  }
}

/* Header */
.header{
	.pane-page-logo{
	  float:left;
	  margin-top: 11px;
	}

	.pane-system-user-menu{
	  margin-left: 20px;
	  float:right;
	  li{
		  float:left;
		  a{
			  text-decoration: none;
			  color: #fff;
			  font-size: 11px;
			}
		}
	}

	.pane-search-form{
	  float:right;
	}
}

.header-menu ul{
  float: right;
  padding-top: 12px;
  li{
    float: left;
    font-size: 11px;
    a{
		  color: #757575;
		  padding: 0 13px;
		  border-left: 1px solid #757575;
		  display:block;
    }
    &.first a{
		  border-left: none;
		  padding-left: 0;
		}

		&.last a{
		  padding-right: 0;
		}
  }
}

.site-title{
  padding: 25px 0 10px;
	.panel-pane{
	  float:left;
	  color: #353535;
	}
	.pane-site-name-abbreviation{
	  font-size: 50px;
	  font-weight: bold;
	  margin-right: 50px;
	}
	.pane-page-site-name{
	  font-size: 32px;
	  padding-top: 15px;
	}
}

.main-menu li{
  float: left;
  a{
	  line-height: 32px;
	  display:block;
	  margin-left: 60px;
	  color: #4C4C4C;
	  font-size: 14px;
	  text-transform: uppercase;
	}
	&.first a{
	  margin-left: 12px;
	}
	a:hover,
	.active-trail,
	.active{
	  border-bottom: 2px solid #881728;
	  color: #881728;
	}
}
