@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

 /* Main styles */

 .page-basic{
  > .panel-panel{
    width: 100%;
    > .inside{
      width: 1000px;
      margin: auto;
    }
  }
  > .header{
    background: #720c20;
  }
  > .footer-first{
    background: #dcdac7;
  }
  > .footer-seccond{
    background: #878787;
  }
}