@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

 /* Main styles */

 .page-basic{
 	overflow: hidden;
  .basic{
    width: 100%;
    overflow: hidden;
    > .inside{
      width: 1000px;
      margin: auto;
    }
	  &.header{
	    background: #720c20;
	    min-height: 55px;
	  }
	  &.footer-first{
	    background: #dcdac7;
	  }
	  &.footer-seccond{
	    background: #878787;
	  }
  }
}

/* Header */
.header{
	.pane-page-logo{
	  float:left;
	  margin-top: 11px;
	}

	.pane-system-user-menu{
	  margin-left: 20px;
	  float:right;
	  li{
		  float:left;
		  a{
			  text-decoration: none;
			  color: #fff;
			}
		}
	}

	.pane-search-form{
	  float:right;
	}

}